{% extends 'feedback/base.html' %}
{% load static %}

{% block content %} 
<div class="login-box">
<h2>ADD PROFILE</h2>
    <form method="POST" enctype="multipart/form-data"> 
      <!-- <label for="">Name</label> 
      <input type="text" class="form-control"> -->
      <label class="mb-2" for="">Browse one or more files</label> 
      <input type="file" name="files" multiple class="form-control">
          {% csrf_token %}  
      <button type="submit" class="btn btn-info mt-3">Upload</button>  
    </form>  
</div>

<style>
    
        html {
          height: 100%;
        }
        
        .login-box {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 650px;
          padding: 40px;
          transform: translate(-50%, -50%);
          background: white;
          box-sizing: border-box;
          box-shadow: 0 15px 25px rgba(0,0,0,.6);
          border-radius: 10px;
        }
        
        .login-box h2 {
          text-align: center;
        }
        
</style>
{% endblock content %}